In [1]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
#importing csv file
data=pd.read_csv(r'C:\Users\satvi\OneDrive\Desktop\NOP_LOAD_FORECAST_20180214_04_input.csv')
data.head()

,MARKET_CD,FORECAST_DT,HOUR_NUM,CONGESTION_ZONE,SOURCE_CD,TEMP_BAND_CD,UTILITY_CD,LSE_CD,VOLUME,LOSS,DERATION_LOSS_LOAD,CAP_OB,TRAN_OB,Sch_VOLUME,Sch_LOSS,Sch_DERATION_LOSS_LOAD
0,IW,02/14/2018,1,A,CUST,A,TNMP,375,1.791993,0.200250,0,0,0,1.791993,0.200250,0
1,IW,02/14/2018,1,A,CUST,A,TXRL,375,26.289101,1.705854,0,0,0,26.289101,1.705854,0
2,IW,02/14/2018,1,B,CUST,A,TNMP,375,1.638522,0.216521,0,0,0,1.638522,0.216521,0
3,IW,02/14/2018,1,B,CUST,A,TXRL,375,0.003867,0.000251,0,0,0,0.003867,0.000251,0
4,IW,02/14/2018,1,B,CUST,A,TXTU,375,56.063652,3.555944,0,0,0,56.063652,3.555944,0

In [3]:
data['TODAY_LOAD']=data['VOLUME']

In [4]:
data

,MARKET_CD,FORECAST_DT,HOUR_NUM,CONGESTION_ZONE,SOURCE_CD,TEMP_BAND_CD,UTILITY_CD,LSE_CD,VOLUME,LOSS,DERATION_LOSS_LOAD,CAP_OB,TRAN_OB,Sch_VOLUME,Sch_LOSS,Sch_DERATION_LOSS_LOAD,TODAY_LOAD
0,IW,02/14/2018,1,A,CUST,A,TNMP,375,1.791993,0.200250,0,0,0,1.791993,0.200250,0,1.791993
1,IW,02/14/2018,1,A,CUST,A,TXRL,375,26.289101,1.705854,0,0,0,26.289101,1.705854,0,26.289101
2,IW,02/14/2018,1,B,CUST,A,TNMP,375,1.638522,0.216521,0,0,0,1.638522,0.216521,0,1.638522
3,IW,02/14/2018,1,B,CUST,A,TXRL,375,0.003867,0.000251,0,0,0,0.003867,0.000251,0,0.003867
4,IW,02/14/2018,1,B,CUST,A,TXTU,375,56.063652,3.555944,0,0,0,56.063652,3.555944,0,56.063652
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65494,IW,03/02/2018,8,D,NORM,A,TXTU,116,6.856661,0.375148,0,0,0,6.856661,0.375148,0,6.856661
65495,IW,03/02/2018,8,D,NORM,A,WTU,116,4.187932,0.322981,0,0,0,4.187932,0.322981,0,4.187932
65496,IW,03/02/2018,9,A,NORM,A,TNMP,116,12.957423,1.155287,0,0,0,12.957423,1.155287,0,12.957423
65497,IW,03/02/2018,9,A,NORM,A,TXRL,116,23.941086,1.324408,0,0,0,23.941086,1.324408,0,23.941086
65498,IW,03/02/2018,9,A,NORM,A,TXRL,375,0.002274,0.000126,0,0,0,0.002274,0.000126,0,0.002274

In [5]:
#importing csv file
data1=pd.read_csv(r'C:\Users\satvi\OneDrive\Desktop\NOP_LOAD_FORECAST_20180213_11_input.csv')
data1.head()

,MARKET_CD,FORECAST_DT,HOUR_NUM,CONGESTION_ZONE,SOURCE_CD,TEMP_BAND_CD,UTILITY_CD,LSE_CD,VOLUME,LOSS,DERATION_LOSS_LOAD,CAP_OB,TRAN_OB,Sch_VOLUME,Sch_LOSS,Sch_DERATION_LOSS_LOAD
0,IW,02/13/2018,1,A,CUST,A,TNMP,375,2.758249,0.242251,0,0,0,2.758249,0.242251,0
1,IW,02/13/2018,1,A,CUST,A,TXRL,375,40.545011,2.436925,0,0,0,40.545011,2.436925,0
2,IW,02/13/2018,1,B,CUST,A,TNMP,375,2.067527,0.213708,0,0,0,2.067527,0.213708,0
3,IW,02/13/2018,1,B,CUST,A,TXRL,375,0.004869,0.000293,0,0,0,0.004869,0.000293,0
4,IW,02/13/2018,1,B,CUST,A,TXTU,375,73.154196,4.346080,0,0,0,73.154196,4.346080,0

In [6]:
data1.shape

(65499, 16)

In [7]:
data1=data1[data1['FORECAST_DT']!='02/13/2018']

In [8]:
data1.shape

(63843, 16)

In [9]:
data1['PREV_DAY_LOAD']=data['VOLUME']

In [10]:
data1

,MARKET_CD,FORECAST_DT,HOUR_NUM,CONGESTION_ZONE,SOURCE_CD,TEMP_BAND_CD,UTILITY_CD,LSE_CD,VOLUME,LOSS,DERATION_LOSS_LOAD,CAP_OB,TRAN_OB,Sch_VOLUME,Sch_LOSS,Sch_DERATION_LOSS_LOAD,PREV_DAY_LOAD
288,IW,02/14/2018,1,A,CUST,A,TNMP,375,1.851526,0.205745,0,0,0,1.851526,0.205745,0,1.710087
289,IW,02/14/2018,1,A,CUST,A,TXRL,375,26.358711,1.710371,0,0,0,26.358711,1.710371,0,25.312212
290,IW,02/14/2018,1,B,CUST,A,TNMP,375,1.612446,0.213369,0,0,0,1.612446,0.213369,0,0.822165
291,IW,02/14/2018,1,B,CUST,A,TXRL,375,0.003788,0.000246,0,0,0,0.003788,0.000246,0,0.002132
292,IW,02/14/2018,1,B,CUST,A,TXTU,375,55.228262,3.502958,0,0,0,55.228262,3.502958,0,27.377892
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65494,IW,02/25/2018,18,B,NORM,A,TXTU,375,0.003519,0.000208,0,0,0,0.003519,0.000208,0,6.856661
65495,IW,02/25/2018,18,C,NORM,A,CPL,116,15.975858,1.255075,0,0,0,15.975858,1.255075,0,4.187932
65496,IW,02/25/2018,18,C,NORM,A,TXRL,116,0.239621,0.014336,0,0,0,0.239621,0.014336,0,12.957423
65497,IW,02/25/2018,18,C,NORM,A,TXTU,116,1.999941,0.118412,0,0,0,1.999941,0.118412,0,23.941086
65498,IW,02/25/2018,18,C,NORM,A,WTU,116,0.043736,0.003524,0,0,0,0.043736,0.003524,0,0.002274

In [25]:
#importing csv file
data2=pd.read_csv(r'C:\Users\satvi\OneDrive\Desktop\LFG_ST_Hourly_20180213_input.csv')
data2.head()

,CONGESTION_ZONE_CD,Forecast_Dt,Hour_num,UNADJ_LOAD,DISTRIB_LOSS_LOAD,TRANSMISSION_LOSS_LOAD
0,A,02/13/2018,1,0.006320,0.000386,0.000159
1,A,02/13/2018,1,0.001185,0.000139,0.000030
2,A,02/13/2018,1,0.000479,0.000056,0.000012
3,A,02/13/2018,1,0.006798,0.000416,0.000171
4,A,02/13/2018,1,0.016094,0.000984,0.000404

In [16]:
df = data2.groupby(
          ['UNADJ_LOAD', 'DISTRIB_LOSS_LOAD','TRANSMISSION_LOSS_LOAD']
      ).size().reset_index()

In [16]:
data.shape

(1048575, 6)

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   CONGESTION_ZONE_CD      1048575 non-null  object
 1   Forecast_Dt             1048575 non-null  object
 2   Hour_num                1048575 non-null  int64
 3   UNADJ_LOAD              1048575 non-null  float64
 4   DISTRIB_LOSS_LOAD       1048575 non-null  float64
 5   TRANSMISSION_LOSS_LOAD  1048575 non-null  float64
dtypes: float64(3), int64(1), object(2)
memory usage: 48.0+ MB

In [17]:
data['Forecast_Dt'].unique()

array(['02/13/2018', '02/14/2018', '02/15/2018', '02/16/2018',
       '02/17/2018', '02/18/2018', '02/19/2018', '02/20/2018',
       '02/21/2018', '02/22/2018', '02/23/2018', '02/24/2018',
       '02/25/2018', '02/26/2018', '02/27/2018', '02/28/2018',
       '03/01/2018', '03/02/2018', '03/03/2018', '03/04/2018',
       '03/05/2018', '03/06/2018', '03/07/2018', '03/08/2018',
       '03/09/2018', '03/10/2018', '03/11/2018', '03/12/2018',
       '03/13/2018', '03/14/2018', '03/15/2018', '03/16/2018',
       '03/17/2018', '03/18/2018', '03/19/2018', '03/20/2018',
       '03/21/2018', '03/22/2018', '03/23/2018', '03/24/2018',
       '03/25/2018', '03/26/2018', '03/27/2018', '03/28/2018',
       '03/29/2018', '03/30/2018', '03/31/2018'], dtype=object)