In [1]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
pd.set_option('max_columns',None)

In [2]:
#importing csv file
data=pd.read_csv(r'C:\Users\satvi\OneDrive\Desktop\INNOWatts-Assignment3.csv')
data.head()

,ESIID,Entity,EDC,State,Load Profile,Voltage,Contract Start Date,Contract End Date
0,3019138,IW,IW,IND,IWRESDLL-CIPS,PRIMARY,10/29/2018,10/29/2021
1,6015821,IW,IW,IND,IWRESDLH-CIPS,PRIMARY,05/10/2018,05/10/2021
2,9514135,IW,IW,IND,IWRESDHL-CIPSME,PRIMARY,02/10/2019,02/10/2022
3,13078046,IW,IW,IND,IWRESDHL-CIPS,PRIMARY,10/09/2018,10/09/2021
4,13134011,IW,IW,IND,IWRESDHH-CIPS,PRIMARY,10/04/2017,10/04/2020

In [3]:
#checking for the shape of the data
data.shape

(5083, 8)

In [4]:
#finding the null values
data.isnull().sum()

ESIID                    0
Entity                   0
EDC                      0
State                    0
Load Profile           245
Voltage                  0
Contract Start Date      0
Contract End Date       14
dtype: int64

In [5]:
#Checking the indexes where the null values present in the contract end date column and adding to a list
data[data['Contract End Date'].isnull()].index.to_list()

[74, 87, 189, 455, 756, 757, 758, 821, 825, 1548, 1586, 3667, 4286, 5076]

In [6]:
#Adding 5 years to the existing date 
date='06/27/2021'
new_date=pd.to_datetime(date)+pd.DateOffset(years=5)
new_date=new_date.strftime('%m/%d/%Y')
new_date

'06/27/2026'

In [7]:
#Replacing the null values with new date
data['Contract End Date'].replace(np.NaN,new_date,inplace=True)

In [8]:
#checking for the nan values after replacing with new date
data['Contract End Date'].isnull().sum()

0

In [9]:
#Creating a new dataframe with only ESIID and Contract end date
data= pd.DataFrame(data, columns=['ESIID', 'Contract End Date'])

In [10]:
data

           ESIID Contract End Date
0        3019138        10/29/2021
1        6015821        05/10/2021
2        9514135        02/10/2022
3       13078046        10/09/2021
4       13134011        10/04/2020
...          ...               ...
5078  9983633771        02/24/2022
5079  9984580068        10/24/2020
5080  9986862259        03/13/2022
5081  9989177002        06/10/2021
5082  9994019424        11/14/2021

[5083 rows x 2 columns]

In [11]:
data['ESIID'].unique()

array([   3019138,    6015821,    9514135, ..., 9986862259, 9989177002,
       9994019424], dtype=int64)

In [28]:
df = data.groupby(["Contract End Date", "ESIID"]).count()
df

Empty DataFrame
Columns: []
Index: [(01/01/2021, 3173009423), (01/01/2021, 6622975015), (01/01/2021, 6791110737), (01/01/2021, 7122221035), (01/01/2022, 811068027), (01/01/2022, 1115000666), (01/01/2022, 1163615217), (01/01/2022, 1287015425), (01/01/2022, 1669588109), (01/01/2022, 2973009828), (01/01/2022, 3483001530), (01/01/2022, 3592159057), (01/01/2022, 5132315168), (01/01/2022, 5368036834), (01/01/2022, 5510729021), (01/01/2022, 5864794139), (01/01/2022, 5983797045), (01/01/2022, 6012442899), (01/01/2022, 6215000062), (01/01/2022, 6330027282), (01/01/2022, 7377004341), (01/01/2022, 7868035725), (01/01/2022, 8285688035), (01/01/2022, 8542315138), (01/01/2022, 8997003159), (01/01/2022, 9015000465), (01/02/2022, 598012321), (01/02/2022, 1125774008), (01/02/2022, 1278039603), (01/02/2022, 1304003431), (01/02/2022, 1366025425), (01/02/2022, 1456494015), (01/02/2022, 1978645935), (01/02/2022, 2246498006), (01/02/2022, 2622646027), (01/02/2022, 2878038548), (01/02/2022, 3597198111), (01/02/2022, 4395826137), (01/02/2022, 4513011611), (01/02/2022, 7132682116), (01/02/2022, 7213597939), (01/02/2022, 7567117083), (01/02/2022, 7579660016), (01/02/2022, 7812499009), (01/02/2022, 8020256029), (01/02/2022, 8687919257), (01/02/2022, 9719848155), (01/03/2021, 459145004), (01/03/2021, 693137080), (01/03/2021, 725033012), (01/03/2021, 1267028039), (01/03/2021, 9553000955), (01/03/2021, 9751032172), (01/03/2022, 645141039), (01/03/2022, 1281071018), (01/03/2022, 1319059049), (01/03/2022, 2213019934), (01/03/2022, 2721088004), (01/03/2022, 3156405231), (01/03/2022, 3775876005), (01/03/2022, 5016020141), (01/03/2022, 5107703856), (01/03/2022, 6266032110), (01/03/2022, 6498036641), (01/03/2022, 6778169002), (01/03/2022, 7266185212), (01/03/2022, 8466403302), (01/03/2022, 9305549137), (01/03/2022, 9588258255), (01/03/2022, 9971078572), (01/04/2021, 372363852), (01/04/2021, 1669805099), (01/04/2021, 3355740652), (01/04/2021, 6474167135), (01/04/2021, 7145170000), (01/04/2021, 7744796175), (01/04/2022, 115000523), (01/04/2022, 944209008), (01/04/2022, 9651383534), (01/05/2022, 8218438734), (01/06/2022, 628099019), (01/06/2022, 1088119011), (01/06/2022, 1886029044), (01/06/2022, 2319939696), (01/06/2022, 2534350011), (01/06/2022, 2624673127), (01/06/2022, 2815286004), (01/06/2022, 3796759049), (01/06/2022, 4199084032), (01/06/2022, 4672816042), (01/06/2022, 5077203099), (01/06/2022, 7217100173), (01/06/2022, 7768212063), (01/06/2022, 7958829298), (01/06/2022, 8472410114), (01/06/2022, 8615005299), (01/06/2022, 8742118071), (01/06/2022, 9658606031), (01/06/2022, 9934004515), (01/06/2023, 7219031379), ...]

[5083 rows x 0 columns]